.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #91D1C8;
}

.backgroundColor {
  background-color: rgb(37, 10, 58);
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
}

.canvas {
  position: relative;
  display: block;
  background: #111;
}

gmap {
  position: relative;
  display: block;
  background: rgb(255, 255, 255);
}

.nav-image {
  max-width: 80px;
  height: auto;
}

.framed-text {
  color: white;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  outline: 5px solid black;
}
